

.lista {
	padding: 10px;
	width: 100%;
}

.lista .persona {
	background: #fff;
	align-items: center;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: move;
}



/* ? Clases para los estilos en los diferentes estados del drag and drop */
.lista .persona.seleccionado {
	transform: scale(1.02) rotate(-1deg);
	box-shadow: 0px 0px 5px rgba(149, 153, 159, .16);
}

.lista .persona.fantasma {
	border: 2px dotted #000;
}

.lista .persona.drag {
	opacity: 0;
}
/* ? ------- */



.lista .label {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;
	color: #5173CF;
}
