 .u-section-1 {
  min-height: 754px;
}

.u-section-1 .u-group-1 {
  min-height: 674px;
  width: 482px;
  height: auto;
  margin: 32px calc(((100% - 1140px) / 2) + 17px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 49px 0 0 20px;
}

.u-section-1 .u-btn-1 {
  margin: 49px auto 0 165px;
}

.u-section-1 .u-group-2 {
  width: calc(((100% - 1140px) / 2) + 201px);
  min-height: 65px;
  height: auto;
  margin: -95px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 20px 0;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 538px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -615px auto 0 calc(((100% - 1140px) / 2) + 58px);
}

.u-section-1 .u-line-1 {
  width: 259px;
  transform-origin: left center 0px;
  margin: 153px auto 0 calc(((100% - 1140px) / 2) + 66px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    position: relative;
    margin-right: calc(((100% - 940px) / 2) + 17px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    width: 230px;
    margin-top: 39px;
  }

  .u-section-1 .u-group-2 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 201px);
    height: auto;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    position: relative;
    margin-left: calc(((100% - 940px) / 2) + 58px);
  }

  .u-section-1 .u-line-1 {
    position: relative;
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + 17px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    width: 176px;
    margin-top: 29px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 201px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 58px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + 17px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 14px;
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
    width: 165px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 201px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 2px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2) + 66px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 556px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 6px;
    width: 139px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 340px) / 2) + 201px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }
}.u-block-fdbc-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-fdbc-3 {
  position: absolute;
  left: 0;
}

.u-block-fdbc-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: url("images/Group11.png");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 802px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 844px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 939px;
  }
}

@media (max-width: 767px) {
   .u-section-2-1 {
    background-position: 62.45% 50%;
  }

  .u-section-2-1 .u-sheet-1 {
    min-height: 843px;
  }
}

 .u-section-2-2 {
  background-image: url("images/Group93.png");
  background-position: 44.57% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 802px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-3 {
  background-image: url("images/Group10.png");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 802px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 582px;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 14px;
  margin-bottom: 28px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 468px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 64px 10px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 55px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 64px 10px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 55px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 64px 10px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 55px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 386px;
  }

  .u-section-3 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    padding: 2px 0;
  }

  .u-section-3 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    padding: 2px 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 887px;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}